{% if collectionForm.title %}
  <span class="collection-embed-title">{{ ("." in collectionForm.title ? collectionForm.title|trans({"%value%": (form.view.vars.data.__toString() is defined ? (form.view.vars.data.__toString()|capitalize) : "")},form.mapper.translateDomain): collectionForm.title) }}</span>
{% endif %}

<div class="collection-embed-form" >
  {% if sortableEnabled %}
    <div class="sortable-content">
      {{ include("@AustralDesign/Components/Button/picto.html.twig",
          {
            tag:            "span",
            title:          "Sortable",
            picto:          "austral-picto-arrange",
            data:           {
              class:    "sortable-handle"
            }
          }
        )
      }}
    </div>
  {% endif %}
  {% if field.viewPosition %}
    <span data-position-view="" class="position-view-content"></span>
  {% endif %}
  {% if field.options.allow.delete %}
    <span class="delete-content">
      {{ include("@AustralDesign/Components/Button/picto.html.twig",
          {
            tag:            "span",
            title:          "Delete",
            picto:          "austral-picto-trash",
            data:           {
              "data-delete":    ".collection-embed-element"
            }
          }
        )
      }}
    </span>
  {% endif %}

  {% if form.view.vars.errors|length > 0 %}
    <div class="error-content master">
      {{ form_errors(form.view) }}
    </div>
  {% endif %}
  {% if form.mapper %}
    {% for subField in form.mapper.fields %}
      {% if subField is instanceof("Austral\\FormBundle\\Mapper\\Fieldset") %}
        {{ include("@AustralAdmin/Form/Components/fieldset.html.twig", {fieldset: subField, form: form}) }}
      {% elseif subField is instanceof("Austral\\FormBundle\\Mapper\\GroupFields") %}
        {{ include("@AustralAdmin/Form/Components/group-fields.html.twig", {form: form, field: subField, fields: subField.fields}) }}
      {% elseif subField is instanceof("Austral\\FormBundle\\Mapper\\Popin") %}
        {{ include("@AustralAdmin/Form/Components/popin.html.twig", {field: subField, fields: subField.fields}) }}
      {% elseif subField is instanceof("Austral\\FormBundle\\Field\\CollectionEmbedField") %}
        {{ include(subField.templatePath, {field: subField}) }}
      {% else %}
        <div class="no-fieldset">
          <div class="fields-content">
            {% include '@AustralAdmin/Form/Components/field.html.twig' with {
              field: {
                name:         subField.fieldname(),
                type:         subField,
                required:     subField.required(),
                input:        form_widget(form.view[subField.fieldname()], {fieldMapper:field}),
                label:        form_label(form.view[subField.fieldname()], null, {fieldMapper:field}),
                errors:       form_errors(form.view[subField.fieldname()], {fieldMapper:field}),
              },
              form: form,
            } only %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="no-fieldset">
      <div class="fields-content">
        {{ form_widget(element, {fieldMapper:field}) }}
      </div>
    </div>
  {% endif %}
</div>