<div id="field-{{ form.view[field.name].vars.id }}-content" class="field-content {{ field.type.attrClass }} {% if field.required %} is-required{% endif %}
    {% if field.errors %} is-error{% endif %}" {% if field.type.style is defined %}style="{{ field.type.style }}"{% endif %}>
  {{ field.label|raw() }}
  <div class="field field-{{ field.type.symfonyFormTypeClass }}">
    {{ field.input|raw() }}
    {% if field.type.popinId and field.type.formMapper %}
      {% set popin = field.type.formMapper.popinByKey(field.type.popinId) %}
      {% if popin %}

        {% set popinData = {
          "data-popin-container": "#popin-graphic-items",
          "data-popin-options": {
            "id":       popin.popin.id,
            "class":    "graphic-items-choice",
            "template": popin.popin.template,
            "field":    "#"~form.view[field.name].vars.id,
          }|json_encode,
          "data-view-by-choice-element": ""
        } %}
        <div class="graphic-item {% if form.view[field.name].vars.data%}edit{% endif%}" {% for key, value in popinData %}{{ key }}="{{ value }}"{% endfor %}>
          <div class="label-content">
            <div class="picto-content">
              {{ include("@AustralDesign/SVG/graphic-items.svg.twig") }}
            </div>
            <span class="label-add">{{ ("actions.picto.add")|trans({}, form.mapper.translateDomain) }}</span>
          </div>


          <div class="preview">
            {% if form.view[field.name].vars.data%}
              <div class="image-content">
                {{ form.view[field.name].vars.data|graphic_item_render|raw() }}
              </div>
            {% endif %}
          </div>

          <div class="button-edit-content">
            {{ include("@AustralDesign/Components/Button/action.html.twig",
                {
                  tag:            "button",
                  title:          "actions.picto.edit"|trans({}, form.mapper.translateDomain),
                  full:           true,
                }
              )
            }}
          </div>


        </div>
      {% endif %}
    {% endif %}
  </div>
</div>