{# Resets some variables to prevent propagation to the child template. #}
{% set classFieldset = class|default(null) %}
{% set class = null %}
{# end #}
{% if fieldset.positionName != "none" %}
  <fieldset id="{{ fieldset.fieldsetId }}" class="fieldset-content{{ (classFieldset|default(null)) ? " "~classFieldset }} {{ fieldset.attr.class ?? "" }}">
    {%- if fieldset.viewName -%}
      <h2 class="h2-title fieldset-title">{% if fieldsetName is defined %} {{ fieldsetName }}{% else %}{{ fieldset.name|trans({}, form.mapper.translateDomain) }}{% endif %}</h2>
    {%- endif -%}
{% endif %}
  <div class="fields-content">
    {%- for field in fieldset.fields -%}
      {%- if field is instanceof("Austral\\FormBundle\\Mapper\\GroupFields") -%}
        {{ include("@AustralAdmin/Form/Components/group-fields.html.twig", {fields: field.fields}) }}
      {% elseif field is instanceof("Austral\\FormBundle\\Field\\TemplateField") %}
        {{ include(field.templatePath, {field: field}) }}
      {% elseif field is instanceof("Austral\\FormBundle\\Field\\CollectionEmbedField")  %}
        {{ include(field.templatePath, {field: field, init: true}) }}
      {% elseif field is instanceof("Austral\\FormBundle\\Field\\FormTypeField") %}
        {{ include(field.templatePath, {field: field, init: true}) }}
      {% elseif field is instanceof("Austral\\FormBundle\\Mapper\\Popin") %}
        {{ include("@AustralAdmin/Form/Components/popin.html.twig", {fields: field.fields}) }}
      {% elseif field is instanceof("Austral\\FormBundle\\Field\\MultiField") %}
        {{ include(field.templatePath, {field: field}) }}
      {%- else -%}
        {% if form.view[field.fieldname()].rendered != true %}
          {%- include '@AustralAdmin/Form/Components/field.html.twig' with {
            field: {
              name:         field.fieldname(),
              type:         field,
              required:     field.required(),
              input:        field.widgetInput == false ? "" : form_widget(form.view[field.fieldname()], {fieldMapper:field}),
              label:        form_label(form.view[field.fieldname()], null, {fieldMapper:field}),
              errors:       form_errors(form.view[field.fieldname()], {fieldMapper:field}),
            },
            form:           form,
          } only -%}
        {% endif %}
      {%- endif -%}
    {%- endfor -%}
  </div>
{% if fieldset.positionName != "none" %}
  </fieldset>
{% endif %}